html {
  height: 100%;
}

p {
  margin: 0;
}

.content-wrapper {
  height: 90%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-wrapper {
  position: relative;
  z-index: 999;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  /* font-family: 'Kalam', cursive; */
  font-size: 3rem;
  padding: 20px 0;
  color:white;
}

.paragraphs-wrapper {
  width: fit-content;
}

.text-wrapper {
  z-index: 999;
  position:relative;
  font-family: 'Indie Flower', cursive;
  font-weight: 600;
  /* font-family: 'Kalam', cursive; */
  font-size: 1.3rem;
  padding-bottom: 20px;
  color: white;
}

.flower-wrapper {
  position: absolute;
  width: 100%;
  top: -85px;
}

@media only screen and (max-width: 600px) {
  .title-wrapper {
    font-size: 2rem;
  }

  .text-wrapper {
    font-size: 0.8rem;
    padding-left: 20px;
  }

  svg {
    opacity: 0.5;
  }

  .flower-wrapper {
    top: -120px;
  }
}

body{
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/textured_paper_%402X.png);
  background-blend-mode: multiply;
  background-color: #e2d8d0;
  background-repeat: repeat;
  background-size: 800px;
}

svg {
  height: 80vh;
  width: 100%;
  opacity: 0.7
}

#illustration {
   animation: squigglevision 0.5s infinite alternate;
}

@keyframes squigglevision {
  0% {
    filter: url('#sketch-0');
  }
  25% {
    filter: url('#sketch-1');
  }
  50% {
    filter: url('#sketch-2');
  }
  75% {
    filter: url('#sketch-3');
  }
  100% {
    filter: url('#sketch-4');
  }
}

.path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: paint 1s ease-in-out 1s forwards;
}

.path:nth-of-type(2) {
  animation-delay: 2s;
}

@keyframes paint {
  from {
    stroke-dashoffset: 1; 
  }
  to {
    stroke-dashoffset: 0;
  }
}
